@model EventSite.Models.Ticket


<div class="row">
    <div class="col-md-6">
        Ticket ID: @Model.ID
    </div>
    <div class="col-md-2">
        @Model.Event.Title
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(m => m.Price, Model.Price)
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger" onclick="removeFromCart('@Model.TrackerId')"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</div>
