@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<EventSite.Models.Event>

<h1>Upcoming Events</h1>
<hr />
@foreach (var item in Model)
{
    <div>
        <h2>@item.Title</h2>
        <p>@item.Description</p>
        <p><strong>Begins</strong> at @item.StartTime</p>
        <p><strong>Ends</strong> at @item.EndTime</p>
    </div>
    <hr />
}